In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install openpyxl
print("openpyxl installed")

Requirement already satisfied: openpyxl in c:\users\alex brizo\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\alex brizo\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
openpyxl installed

## About the data: 
#### The data used for our project is from the Immigration, Refugees and Citizenship of Canada (IRCC).
Facts and Figures 2017: Immigration Overview - Permanent Residents - 15. Canada - Permanent residents by source country, 2008 - 2017
Link: https://open.canada.ca/data/en/dataset/082f05ba-e333-4132-ba42-72828d95200b/resource/c2cc1d39-9a60-488f-a245-83f4edf0c229

In [2]:
df_can = pd.read_csv("https://www.ircc.canada.ca/opendata-donneesouvertes/data/IRCC_FF_PR_2017_15_CSV.csv", 
                     encoding='latin-1', skiprows=5)
df_can.head()

,Year/année,Source Country,Pays d'origine,Number/Nombre
0,2008,India,Inde,28255
1,2008,Philippines,Philippines,24883
2,2008,"China, People's Republic of","Chine, République populaire de",30030
3,2008,Syria,Syrie,919
4,2008,United States of America,États-Unis d'Amérique,10186

In [15]:
# The column source country is duplicated with a French column since Canada is Bilingual, 
# let's drop that and do a bit of cleaning
df_can.drop("Pays d'origine", axis=1, inplace=True)
df_can.rename(columns={"Year/année":"year", "Source Country":"source country", "Number/Nombre":"number"}, inplace=True)
df_can.head()

   year               source country  number
0  2008                        India   28255
1  2008                  Philippines   24883
2  2008  China, People's Republic of   30030
3  2008                        Syria     919
4  2008     United States of America   10186

In [13]:
df_can.shape

(2120, 3)

In [22]:
# Our table is too long to work with, let's make it wider (years) with the countries as index
df_2017 = df_can.pivot_table(index='source country', columns='year', values='number')

In [23]:
df_2017.shape

(212, 10)